@charset "UTF-8";

@media (min-width: 576px) {

.table, th, td {
  display: block;
  border: none;
  width: 100%;
}

.aln_right {
    text-align: right;
}

.grid-swt {
    display: grid;
    grid-template-columns: 23% 60%;
    width: 62%;
    align-items: center;
    padding-right: 18%;
    font-size: 16px;
}
.grid-tbe {
    display: grid;
    grid-template-columns: 50% 50%;
}
.subheading {
  font-family: "Saira Extra Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  text-transform: uppercase;
  font-weight: 500;
  font-size: 18px;
}
.grid-profile-pic {
    width: 10%;
}
.footer-fix {
    background-color: rgba(22,22,37);
    position: fixed;
    left: 100px;
    bottom: 0;
    width: 100%;
}
}

@media (min-width: 768px) {
.table, th, td {
  display: block;
  border: none;
  width: 100%;
}

.aln_right {
    text-align: right;
}

.grid-swt {
    display: grid;
    grid-template-columns: 23% 60%;
    width: 50%;
    align-items: center;
    padding-right: 18%;
    font-size: 16px;
}
.grid-tbe {
    display: grid;
    grid-template-columns: 50% 50%;
}
.subheading {
  font-family: "Saira Extra Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  text-transform: uppercase;
  font-weight: 500;
  font-size: 18px;

}
.grid-profile-pic {
    width: 6%;
}
.footer-fix {
    background-color: rgba(22,22,37);
    position: fixed;
    left: 0px;
    bottom: 0;
    width: 100%;
}
}

@media (min-width: 992px) {

.table, th, td {
  display: block;
  border: none;
  width: 100%;
}

.aln_right {
    text-align: right;
}

.grid-swt {
    display: grid;
    grid-template-columns: 36% 64%;
    width: 70%;
    align-items: center;
    padding-right: 10%;
    font-size: 16px;
}

.subheading {
  font-family: "Saira Extra Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  text-transform: uppercase;
  font-weight: 500;
  font-size: 25px;
}
.grid-profile-pic {
    width: 100%;
}

.footer-fix {
    background-color: rgba(22,22,37);
    position: fixed;
    left: 100px;
    bottom: 0;
    width: 100%;
}
}

@media (min-width: 1200px) {
.table{
  width: 100%;
}

.grid-tbe {
    display: grid;
    grid-template-columns: 50% 50%;
}

.grid-swt {
    display: grid;
    grid-template-columns: 36% 64%;
    width: 82%;
    align-items: center;
    padding-right: 18%;
    font-size: 16px;
}
.grid-profile-pic {
    width: 100%;
}
.footer-fix {
    background-color: rgba(22,22,37);
    position: fixed;
    left: 100px;
    bottom: 0;
    width: 100%;

}
}